<h1>Estoque</h1>

<div class="estoque-container">
    <div class="estoque-esquerda">
        <div class="acoes-estoque">
            <button type="button">Inserir</button>
            <button type="button">Baixa</button>
            <button type="button">Ajuste</button>
            <button type="button">Deletar</button>
            <button type="button">Editar</button>
            <button type="button">Inventário</button>
        </div>

        <div class="acoes-estoque2">

        </div>

        <div class="insercao-produto">
            <div class="campo-produto">
                <input type="text" id="descricao" [(ngModel)]="name" placeholder="Digite a descrição do item">
            </div>
        </div>
        <div class="linha-dados-produto">
            <div class="data-group">
                <label>Volume:</label>
                <input type="text" [(ngModel)]="volume" maxlength="4"
                    oninput="this.value = this.value.replace(/\D/g, '').slice(0, 5)">
            </div>

            <div class="data-group">
                <label>Unid.:</label>
                <input type="text" maxlength="2" [(ngModel)]="unit"
                    oninput="this.value = this.value.toLowerCase().replace(/[^a-z]/g, '').slice(0, 2)">
            </div>

            <div class="data-group">
                <label>Qtd. Inicial:</label>
                <input type="text" [(ngModel)]="initialQuantity" maxlength="3"
                    oninput="this.value = this.value.replace(/\D/g, '').slice(0, 4)">
            </div>
        </div>
        <div class="product-identification">
            <div class="data-group">
                <label>R$</label>
                <input class="campo-preco" type="text" [(ngModel)]="price" maxlength="10"
                    oninput="this.value = (Number(this.value.replace(/\D/g, '')) / 100).toFixed(2).replace('.', ',')">
            </div>

            <div class="data-group grupo-gtin">
                <input type="checkbox" [checked]="gtinEnabled" (change)="gtinEnabled = !gtinEnabled">
                <label>GTIN:</label>
                <input class="campo-gtin" type="text" [(ngModel)]="gtin" maxlength="14" [disabled]="!gtinEnabled"
                    placeholder="🏷️ Código de Barras"
                    oninput="this.value = this.value.replace(/\D/g, '').slice(0, 14)">
            </div>
        </div>
        <div class="insert-actions">
            <button type="button" (click)="createProduct()">Confirmar</button>
            <button type="button">Limpar</button>
        </div>
    </div>

    <div class="estoque-direita">

        <div class="titulo-monitor">
            <span>Monitor</span>
        </div>

        <div class="monitor-terminal" *ngIf="monitorMessage">
            {{ monitorMessage }}
        </div>

        <table class="estoque-tabela" *ngIf="!monitorMessage">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Vol.</th>
                    <th>Un.</th>
                    <th>Qtd.</th>
                    <th>+/-</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Firenze</td>
                    <td>350</td>
                    <td>g</td>
                    <td>12</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>Lisboa</td>
                    <td>350</td>
                    <td>g</td>
                    <td>8</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Vancouver</td>
                    <td>3500</td>
                    <td>g</td>
                    <td>1500</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>Amontada</td>
                    <td>350</td>
                    <td>g</td>
                    <td>6</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Xangai</td>
                    <td>350</td>
                    <td>g</td>
                    <td>10</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>Barcelona</td>
                    <td>350</td>
                    <td>g</td>
                    <td>9</td>
                    <td>+</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>