<div class="app-container">

    <aside class="sidebar">

        <div class="sidebar-logo">
            <!-- Logo do OpenRango entra aqui -->
        </div>

        <div class="sidebar-header">
            <h2>OpenRango</h2>
            <span class="version">0.1</span>
        </div>
        <nav class="main-nav">
            <ul>
                <li class="nav-item">
                    <a routerLink="/app/pedidos" class="nav-link">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/estoque" class="nav-link">Estoque</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/clientes" class="nav-link">Clientes</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/rotulos" class="nav-link">Rótulos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/produtos" class="nav-link">Produtos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/precificacao" class="nav-link">Precificação</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/producao" class="nav-link">Produção</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/afiliados" class="nav-link">Afiliados</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/app/relatorios" class="nav-link">Estatísticas e Relatórios</a>
                </li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <div class="sidebar-footer">
                <p>Logado como:</p>
                    <p>Fabiano Vasconcelos [ID 001]</p>
            </div>
        </div>

    </aside>

    <main class="main-content">
        <router-outlet></router-outlet>
    </main>

</div>