<h1>Pedidos</h1>
<div class="pedidos-container">
    <div class="pedidos-esquerda">
        <div class="acoes-pedido">
            <button class="btn-novo" type="button">Novo Pedido</button>
            <button class="btn-consolidar" type="button">Consolidar</button>
        </div>

        <div class="tipo-pedido">
            <label>
                <input type="radio" name="tipo-pedido" value="salao" (change)="selecionarTipo('salao')">
                Salão
            </label>

            <label>
                <input type="radio" name="tipo-pedido" value="delivery" checked (change)="selecionarTipo('delivery')">
                Delivery
            </label>
        </div>
        @if (tipoSelecionado === 'delivery') {
        <div class="cliente">
            <label for="cliente">Cliente:</label>
            <input type="text" id="cliente">
        </div>
        <div class="busca-produtos">
            <input type="text" placeholder="Buscar produtos...">
        </div>
        <div class="taxa-entrega">
            <label for="taxa">Taxa de entrega:</label>
            <span>R$</span>
            <input type="number" id="taxa" placeholder="0,00">
        </div>
        <div class="desconto">
            <label for="desconto">Desconto:</label>
            <input type="radio" name="kind" value="cash" checked>R$
            <input type="radio" name="kind" value="percent">%
            <input type="number" id="desconto" placeholder="0,00">
        </div>
        }
        @if (tipoSelecionado === 'salao') {
        <app-not-implemented></app-not-implemented>
        }
    </div>

    <div class="pedidos-direita">
        kkkkkkkkkkkk
        kkkkkkkkkkkk
        kkkkkkkkkkkk
        kkkkkkkkkkkk
        kkkkkkkkkkkk
        kkkkkkkkkkkk
    </div>
</div>