:host {
    display: block;
    max-width: 774px;
}

h1 {
    font-size: 22px;
    width: 750px;
    margin: 0 auto;
}

.pedidos-container {
    display: flex;
    width: 750px;
    gap: 10px;
    margin: 0 auto;
}

.pedidos-esquerda,
.pedidos-direita {
    flex: 1;
    border: 1px solid #999;
    border-radius: 8px;
    text-align: center;
    padding: 7px;
}

.btn-novo,
.btn-consolidar {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.btn-novo {
    background: #2878ff;
    color: white;
}

.btn-consolidar {
    background: #ffc400;
    color: #333;
}

.acoes-pedido {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.acoes-pedido button {
    width: 140px;
    margin: 10px 0;

}

.tipo-pedido {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

app-not-implemented {
    font-size: 12px;
}

.cliente {
    display: flex;
    gap: 7px;
    flex-direction: column;
    text-align: left;
}

.tipo-pedido input[type="radio"] {
    margin-left: 0;
}

.cliente input {
    padding: 7px;
    border-radius: 8px;
}

@media (max-width: 440px) {
    .pedidos-container {
        flex-direction: column;
        width: 345px;
    }

    h1 {
        width: 345px;
    }
}